.app {
    overflow: hidden;
}
.header {
    height: var(--header-height);
    background-image: linear-gradient(0,#ff6533,#f53e2d
    );
}

.navbar {
    display: flex;
    justify-content: space-between;
}
.navbar-list {
    list-style: none;
    padding-left: 0;
    margin: 4px 0 0 0;
    display: flex;
    align-items: center;
}
.navbar-item {
    display: inline-block;
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}
.navbar-item-user {
    display: flex;
    align-items: center;
    position: relative;
}
.navbar-item-user:hover .navbar-user-menu{
    display: block;
}
.navbar-user-img {  
    width: 22px;
    height: 22px;
    object-fit: cover;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}
.navbar-user-name {
    margin-left: 6px;
    font-size: 1.4rem;
    font-weight: 400;
}
.navbar-user-menu {
    z-index: 100;
    position: absolute;
    list-style: none;
    top: calc( 100% + 5px);
    border-radius: 2px;
    width: 160px;
    padding-left: 0;
    right: 0;
    background-color: var(--white-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: none;
    --grow-from:0.5;
    --grow-to:1;
    transform-origin: 90% top;
    animation: grows ease-in .15s;
}
.navbar-user-menu::before {
    content: "";
    position: absolute;
    display: block;
    top: -5px;
    width: 100%;
    height: 15px;
    right: -5px;
}
.navbar-user-menu::after {
    content: "";
    position: absolute;
    border-width: 15px 20px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    top: -23px;
    right: 12px;
}
.navbar-user-menu-item {

}
.navbar-user-menu-item--separate {
    border-top: 1px solid var(--border-color);
}
.navbar-user-menu-item a{
    display: block;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 8px 16px;
    border-radius: 2px;
    font-weight: 400;
}
.navbar-user-menu-item a:hover {
    border-radius: 2px;
    background-color: #fafafa;
}
.navbar-item ,.navbar-item-link {
    font-size: 1.3rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}
.navbar-item--qr:hover .header__qr ,.navbar-item--notify-hv:hover .header__notify{
    display: block;
}
.navbar-item ,.navbar-item-link , .navbar-icon-link {
    display: inline-flex;
    align-items: center;
}
.navbar-item:hover ,.navbar-item-link:hover,.navbar-icon-link:hover {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}
.navbar-item--strong {
    font-weight: 400;
}
.navbar-item--line::after {
    content: "";
    position: absolute;
    border-left: #fb9086 1px solid;
    height: 16px;
    display: block;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}

.navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
}
.navbar-icon-link:nth-child(2) {
    margin-left: 3px;
}
.navbar-icon {
    font-size: 1.8rem;
    margin: 0 4px 0;
}
.navbar-label-nopointer {
    cursor: text;
    color: var(--white-color);
}
/* Qr code */
.header__qr {
    background-color: var(--white-color);
    width: 186px;
    position: absolute;
    left: 0;
    top: 118%;
    padding: 8px;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: none;
    animation: FadeIn ease-in 0.3s;
    z-index: 99;
}

.header__qr::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 20px;
    left: 0;
    top: -15px;
}
.header__qr-img {
    width: 100%;
}

.header__qr-apps {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__qr-link:first-child {
    margin-left: 11px;
}
.header__qr-link:last-child {
    margin-right: 11px;
}

.header__qr-download-img {
    height: 15px;
}

/* Header-notify */

.header__notify {
    position: absolute;
    top: 118%;
    width: 404px;
    background-color: var(--white-color);
    right: 0;
    border: 1px solid #d3d3d3;
    cursor: default;
    transform-origin: 90% top;
    animation: notifyAnimation ease-in 0.2s;
    -webkit-animation: notifyAnimation ease-in 0.2s;
    -o-animation: notifyAnimation ease-in 0.2s;
    -moz-animation: notifyAnimation ease-in 0.2s;
    will-change: opacity , transform;
    display: none;
    z-index: 1000;
}
.header__notify::before {
    content: "";
    border: solid;
    border-width: 20px 28px;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    top: -30px;
    right: 5px;
}
.header__notify::after {
    content: "";
    display: block;
    position: absolute;
    width: 90px;
    height: 15px;
    right: 0;
    top: -15px;
}
@keyframes notifyAnimation {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
.header__notify-header {
    height: 40px;
    background-color: var(--white-color);
}
.header__notify-header h3 {
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
    user-select: none;
}
.header__notify-list {
    padding-left: 0;
    list-style: none;
}
.header__notify-item {

}
.header__notify-item:hover {
    background-color: #f7f7f7;
}
.header__notify-item--viewed {
    background-color: rgba(238, 77, 45,0.08);
}
.header__notify-link {
    display: flex;
    padding: 12px;
    text-decoration: none;
    width: 100%;
}
.header__notify-img {
    width: 48px;
    object-fit: contain;
    object-position: top;
}
.header__notify-info {
    margin-left: 12px;
}
.header__notify-name {
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
}
.header__notify-description {
    display: block;
    font-size: 1.2rem;
    color: #756f6e;
}
.header__notify-footer {
    display: block;
}
.header__notify-footer-btn{
    text-decoration: none;
    text-align: center;
    color: var(--text-color);
    padding: 8px 16px;
    display: block;
    font-size: 1.4rem;
    font-weight: 400;

}
.auth-form {
    width: 500px;
    background-color: var(--white-color);
    border-radius: 5px;
    overflow: hidden;
}
.auth-form__container {
    padding: 0 32px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 12px;
}
.auth-form__headding {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}
.auth-form__sw-btn {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--primary-color);
    cursor: pointer;
}
.auth-form__form {
}
.auth-form__group {

}
.auth-form__input{
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}
.auth-form__input:focus {
    border-color: #777;
}
.auth-form__aside {
    margin-top: 18px;
    padding: 0 12px;
}
.auth-form__policy-text {
    text-align: center;
    font-size: 1.4rem;
    line-height: 1.8rem;
}
.auth-form__text-link {
    text-decoration: none;
    color: var(--primary-color);
}
.auth-form__controls {
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}
.auth-form__socials {
    background-color: #f5f5f5;
    padding: 14px 36px;
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

.auth-form__socials-icon {
    font-size: 1.8rem;
}
.auth-form__socials--fb {
    background-color: #3a5398;
    color: var(--white-color);
}
.auth-form__socials--gg{
    background-color: var(--white-color);
    color: #666;
}
.auth-form__socials-title {
    margin: 0 36px;
}
.auth-form__help {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.auth-form__help-link {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
}
.auth-form__help--separate {
    display: block;
    height: 16px;
    margin: 0 16px;
    border-left: 1px solid var(--border-color);
}
.auth-form__help-forgot {
    color: var(--primary-color);
}
/* header - with search */
.header-with-search {
    height: var(--header-with-search);
    display: flex;
    align-items: center;
    padding: 0 8px;
}
.header__mobile-menu {
    padding: 0 12px;
    display: none;
}
.header__mobile-search {
    padding: 0 12px;
    display: none;
}
.header__mobile-menu-icon {
    font-size: 3.3rem;
    color: var(--white-color);
}
i.header__mobile-search-icon {
    font-size: 2.8rem;
    line-height: 33px;
    display: block;
    color: var(--white-color);
}


.header__logo {
    width: 200px;
}
.header__logo-img {
    width: 150px;
    fill: var(--white-color);
}

.header__logo-link {
    text-decoration: none;
}

.header__search {
    background-color: var(--white-color);
    flex: 1;
    height: 40px;
    border-radius: 2px;
    display: flex;
    align-items: center;
}
.header__cart {
    width: 130px;
    text-align: center;
}

.header__cart-icon {
    margin-top: 4px;
    color: var(--white-color);
    font-size: 3rem;
}
.header__search-input-wrap {
    flex: 1;
    height: 100%;
    position: relative;
}
.header__search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 0 16px;
    border-radius: 2px;
    color: var(--text-color);
    font-size: 1.4rem;
}
.header__search-select{
    border-left: 1px solid var(--border-color);
    padding-left: 16px;
    position: relative;
    cursor: pointer;
}
.header__search-select-label {
    font-size: 1.4rem;
    color: var(--text-color);
}
.header__search-select-icon {
    font-size: 1.6rem;
    color: rgb(131, 131, 131);
    margin: 0 16px 0 8px;
    position: relative;
    top: 1px;
}
.header__search-btn {
    background-color: var(--primary-color);
    border: none;
    height: 34px;
    border-radius: 3px;
    margin-right: 3px;
    width: 60px;
    outline: none;
}
.header__search-btn:hover {
    background-color: rgba(238, 77, 45,0.8);
    cursor: pointer;
}
.header__search-btn-icon {
    font-size: 1.6rem;
    color: var(--white-color);
}
.header__search-select:hover .header__search-option {
    display: block;
}
.header__search-option::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 25px;
    top: -15px;
}
.header__search-option {
    position: absolute;
    padding-left: 0;
    top: 120%;
    right: 0;
    background-color: var(--white-color);
    list-style: none;
    min-width: 130px;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    display: none;
    animation: FadeIn ease-in 0.2s;
    z-index: 1;
}

.header__search-option-item {
    background-color: var(--white-color);
    border-radius: 3px;
    padding: 8px;
}
.header__search-option-item:hover {
    background-color: #fafafa;
    cursor: pointer;
}
.header__search-option-item span {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 12px;
}
.header__search-option-item i {
    font-size: 1.4rem;
    color: var(--primary-color);
    margin-left: 12px;
    display: none;
}
.header__search-option-item--active.header__search-option-item i {
    display: inline-block;
} 
/* search history */
.header__search-input:focus ~ .header__search-history {
    display: block;
}
.header__search-history {
    position: absolute;
    top: calc( 100% + 2.5px );
    left: 0;
    background-color: var(--white-color);
    border-radius: 3px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
    width: calc( 100% - 16px );
    display: none;
    z-index: 100;
    animation: FadeIn linear 0.2s;
}
.header__search-history-title {
    margin: 8px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}
.header__search-history-list {
    padding-left: 0;
    list-style: none;
    margin-bottom: 0;
}
.header__search-history-item {
    height: 38px;
    padding: 0 12px;
    display: flex;
    align-items: center;
    border-radius: 3px
}
.header__search-history-item:hover {
    background-color: #fafafa;
    border-radius: 3px;
}
.header__search-history-item a{
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    display: block;
    width: 100%;
}

.header__cart-wrap {
    position: relative;
    display: inline-block;
    padding: 0 8px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}
.header__cart-notice {
    position: absolute;
    padding: 1px 7px;
    background-color: var(--white-color);
    color: var(--primary-color);
    border-radius: 8px;
    font-size: 1.2rem;
    top: -2px;
    font-weight: 400;
    right: -4px;
    border: 2px rgba(255, 0, 0) solid;
    line-height: 1.2rem;
}
.header__cart-wrap:hover .header__cart-list {
    display: block;
}
.header__cart-list {
    --grow-from: 0.5;
    --grow-to: 1;
    cursor: default;
    position: absolute;
    top: calc( 100% + 4.5px);
    right: -3px;
    background-color: #fdfdfd;
    width: 400px;
    border-radius: 2px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
    display: none;
    z-index: 102;
    transform-origin: 95% top;
    animation: grows ease-in .2s;
}
.header__cart-list::after {
    content: "";
    cursor: pointer;
    position: absolute;
    right: 5px;
    top: -25px;
    border-width: 15px 18px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}
.header__cart-list--no-cart {
    padding: 24px 0;
}
.header__cart-list--no-cart .header__cart-img--no-cart,
.header__cart-list--no-cart .hearder__cart-list-no-cart-msg {
    margin: 0 auto;
    display: block;
}
.header__cart-img--no-cart {
    display: none;
    width: 50%;
    object-fit: cover;
}
.hearder__cart-list-no-cart-msg {
    display: none;
    font-size: 1.4rem;
    color: var(--text-color);
}


/* cart have product */

.header__cart-heading{
    text-align: left;
    margin: 8px 0 8px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}
.header__cart-list-item{
    padding-left: 0;
    list-style: none;
    max-height: 50vh;
    overflow-y: auto;
    background-color: var(--white-color);
}
.header__cart-item{
    display: flex;
    padding: 12px;
}
.header__cart-item:hover {
    background-color: #f8f8f8;
}
.header__cart-img{
    width: 42px;
    height: 42px;
    object-fit: cover;
    object-position: top;
    margin-right: 12px;
    border: 1px solid var(--border-color);

}
.header__cart-item-info{
    flex: 1;
}
.header__cart-item-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cart-item-head-name{
    flex: 1;
    text-align: left;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2rem;
    max-height: 4rem;
    overflow: hidden;
    color: var(--text-color);
    margin: 0;
    padding-right: 16px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.cart-item-head-price{
    font-size: 1.4rem;
    color: var(--primary-color);
    font-weight: 400;
}
.cart-item-head-multipy{
    font-size: 0.9rem;
    color: #757575;
    margin: 0 4px;
}
.cart-item-head-quantity{
    font-size: 1.2rem;
    color: #757575;
}
.header__cart-item-body{
    display: flex;
    justify-content: space-between;
    margin-top: 6px;
}
.header__cart-item-description{
    font-size: 1.3rem;
    color: #757575;
    font-weight: 300;
}
.header__cart-item-remove{
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
}
.header__cart-item-remove:hover {
    color: var(--primary-color);
    cursor: pointer;
}
.header__cart-view-cart {
    float: right;
    margin: 0 12px 12px 0;
}
.header__cart-view-cart:hover {
    background-color: #f05d41;
}


/* header-sort bar */
.header__sort-bar {
    position: fixed;
    top: var(--header-height);
    left: 0;
    right: 0;
    height: var(--header-height-sort-bar);
    background-color: var(--white-color);
    list-style: none;
    /* display: flex; */
    padding-left: 0;
    margin: 0;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    display: none;
}
.header__sort-item {
    flex: 1;
}
.header__sort-link {
    position: relative;
    font-size: 1.4rem;
    text-decoration: none;
    display: block;
    color: var(--text-color);
    line-height: var(--header-height-sort-bar);
    text-align: center;
}
.header__sort-item:first-child .header__sort-link::after{
    display: none;
}
.header__sort-link::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    height: 60%;
    transform: translateY(-50%);
    border-left: 1px solid #e5e5e5;
}
.header__sort-item--active .header__sort-link {
    color: var(--primary-color);
    border-bottom: 1px solid var(--primary-color);
    bottom: 2px;
}

/* App Container */

.app__container {
    background-color: #f5f5f5;
}
.catetory {
    background-color: var(--white-color);
    border-radius: 2px;
}
.app__content {
    padding-top: 36px;
}
.catetory__heading {
    font-size: 1.6rem;
    padding: 12px 16px;
    display: flex;
    align-items: center;
    margin-top: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}
.catetory__heading-icon {
    font-size: 1.4rem;
    margin-right: 8px;
}
.catetory-list {
    padding: 0 0 8px 0;
    list-style: none;
}
.catetory-item {
    position: relative;
}
.catetory-item--active .catetory-item__link {
    color: var(--primary-color);
}
.catetory-item--active .catetory-item__link::before {
    content: "";
    position: absolute;
    border: 4px solid;
    border-color: transparent transparent transparent var(--primary-color);
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
}
.catetory-item__link {
    position: relative;
    display: block;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 6px 16px 6px 26px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    right: 0;
    transition: right linear 0.1s;
}
.catetory-item__link:hover {
    right: -5px;
    color: var(--primary-color);
}
/* Home sort + filter */
.home-filter {
    background-color: rgba(0, 0, 0, 0.04);
    display: flex;
    align-items: center;
    padding: 12px 22px;
    border-radius: 2px;
}
.home-filter__label {
    font-size: 1.4rem;
    color: #555;
    margin-right: 16px;
}
.home-filter__btn {
    margin-right: 12px;
    min-width: 90px;
}
.home-filter__page {
    display: flex;
    align-items: center;
    margin-left: auto;
}
.home-filter__page-num {
    font-size: 1.5rem;
    margin-right: 22px;
    color: var(--text-color);
}
.home-filter__page-current {
    color: var(--primary-color);
}
.home-filter__page-control {
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
}
.home-filter__page-btn {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white-color);
    text-decoration: none;
}
.home-filter__page-btn:first-child {
    border-right: #eee 1px solid;
}
.home-filter__page-icon {
    font-size: 2rem;
    color: #555;
}
.home-filter__page-btn--disable {
    background-color: #f9f9f9;
    cursor: default;

}
.home-filter__page-btn--disable .home-filter__page-icon {
    color: #ccc;
}
/* Mobile - catelory - menu */

.catetory-menu-mobile {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 320px;
    max-width: 100%;
    padding-left: 20px;
    padding-top: 20px;
    background-color: var(--white-color);
    z-index: 10000;
    transform: translateX(-100%);
    opacity: 0;
    transition: all linear 0.3s;
}
.catetory-menu-mobile__heading {
    font-size: 2.6rem;
    color: var(--primary-color);
}
.catetory-menu-mobile-list {
    padding-left: 0;
    list-style: none;
    padding-left: 10px;
}
.catetory-menu-mobile-item {

}
.catetory-menu-mobile__link {
    font-size: 1.8rem;
    text-decoration: none;
    display: block;
    padding: 10px 0;
    color: var(--text-color);
}
.catetory-menu-mobile__link:hover {
    color: var(--primary-color);
}
.overlay-mobile{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 999;
    opacity: 0;
    display: none;
    transition: all linear 0.3s;
}
.btn-mobile-close {
    font-size: 4rem;
    position: absolute;
    right: 10px;
    top: 10px;
}
/* Mobile - catelory */

.mobile-catelory {
    display: none;
}
.mobile-catelory__list {
    display: flex;
    list-style: none;
    padding-left: 0;
    overflow-x: auto;
    max-width: 100%;
}
.mobile-catelory__list::-webkit-scrollbar {
    display: none;
}
.mobile-catelory__item {
    flex-shrink: 0;
    margin-right: 10px;
}
.mobile-catelory__link {
    --line-height: 2rem;
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.4rem;
    line-height: var(--line-height);
    max-height: calc(var(--line-height) * 2);
    text-align: center;
    width: 110px;
    display: block;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    border-radius: 4px;
    font-weight: 300;
    padding: 0 8px;
    user-select: none;
    -webkit-user-select: none;
}
.mobile-catelory__item:nth-of-type(3n + 1) .mobile-catelory__link{
    background-color: #87AFD8;
} 
.mobile-catelory__item:nth-of-type(3n + 2) .mobile-catelory__link{
    background-color: #76C9BD;
} 
.mobile-catelory__item:nth-of-type(3n + 3) .mobile-catelory__link{
    background-color: #88CF31;
} 
/* product */
.home-product {
    margin-bottom: 10px;
}
.home-product-item {
    display: block;
    text-decoration: none;
    background-color: var(--white-color);
    margin-top: 10px;
    position: relative;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
    transform: translateY(0);
    transition: transform ease-in 0.1s;
    will-change: transform;
}
.home-product-item:hover {
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.05);
    transform: translateY(-3px);
}
.home-product-item__img {
    padding-top: 100%;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}   
.home-product-item__name {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    height: 3.6rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin: 10px;
}
.home-product-item__price {
    display: flex;
    margin-left: 10px;
    align-items: baseline;
    flex-wrap: wrap;

}
.home-product-item__price-old {
    font-size: 1.4rem;
    color: #666;
    text-decoration: line-through;
}
.home-product-item__price-current {
    font-size: 1.6rem;
    color: var(--primary-color);
    margin-left: 10px;
}
.home-product-item__action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}
.home-product-item__like {
    font-size: 1.3rem;
}
i.icon-like-fill {
    display: none;
    color: #f63d30;
}
.home-product-item__like--liked i.icon-like-fill {
    display: inline-block;
}
.home-product-item__like--liked i.icon-like-empty {
    display: none;
}
.home-product-item__rating {
    font-size: 0.8rem;
    margin: 1px 0 0 auto;
    color: #d5d5d5;
}
.product-item__rating-star-gold {
    color: #ffce3e;
}
.home-product-item__sold {
    margin-left: 6px;
    font-size: 1.2rem;
    color: var(--text-color);
}
.home-product-item__origin {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
    color: #595959;
    font-size: 1.2rem;
    font-weight: 300;
    padding-bottom: 10px;
}
.home-product-item__brand {

}
.home-product-item__origin-name{

}
.home-product-item__favourite {
    position: absolute;
    top: 10px;
    left: -4px;
    background-color: currentColor;
    color: var(--primary-color);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6rem;
    padding-right: 4px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
.home-product-item__favourite i {
    margin: 0 3px 0 4px;
    color: var(--white-color);
}
.home-product-item__favourite span {
    color: var(--white-color);
}
.home-product-item__favourite::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    border-top: 3px solid currentColor;
    filter: brightness(60%);
    border-left: 3px solid transparent;
}
.home-product-item__sale-off {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    width: 40px;
    height: 36px;
    background-color: rgba(255, 216, 64,0.94);
    text-align: center ;
}
.home-product-item__sale-off::before {
    content: "";
    border-width: 0 20px 4px;
    border-style: solid;
    border-color: transparent rgba(255, 216, 64,0.94) transparent rgba(255, 216, 64,0.94);
    position: absolute;
    bottom: -4px;
    left: 0;
}
.home-product-item__sale-off-percent {
    margin: 4px 0 2px;
    display: block;
    color: #ee4d2d;
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 1.3rem;
}
.home-product-item__sale-off-label {
    display: block;
    font-size: 1.3rem;
    line-height: 1.3rem;
    color: var(--white-color);
}

.home-product__pagination {
    padding-left: 0;
    margin: 48px 0 32px;
}
.footer {
    border-top: 4px solid var(--primary-color);
    padding-top: 16px;
}
.footer__heading {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--text-color);
}
.footer__list {
    padding-left: 0;
    margin-top: 20px;
    list-style: none;
}
.footer__list-item {

}
.footer__list-item-link {
    position: relative;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 1.2rem;
    color: #666;
    right: 0;
    padding: 8px 0;
    transition: right linear 0.2s;
}
.footer__list-item-link:hover {
    color: var(--primary-color);
    right: -5px;
}
.footer__list-item-link i {
    font-size: 1.8rem;
    margin-right: 8px;
}
.footer__download {
    display: flex;
    align-items: center;
}
.footer__download-qr {
    width: 80px;
    height: 80px;
    object-fit: contain;
    object-position: center;
    border: 1px solid var(--border-color);
}
.footer__download-apps {
    margin-left: 16px;
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.footer__download-apps-img{
    height: 16px;
    object-fit: contain;
}
.footer__download-link {
    text-decoration: none;
    color: transparent;
}
.footer__bottom {
    padding: 8px 0;
    margin-top: 32px;
    background-color: #f5f5f5;
}
.footer-copyright {
    margin: 0;
    text-align: center;
    font-size: 1.2rem;
}